<div class="">
  <h1><%=link_to article.title, article %></h1>
  <div class="">
    <p>Visits: <%= article.visits_count %></p>
  </div>
  <div>
  	<%= article.body %>
  </div>
  <br>
  <%unless article.user.nil?%>
    <% unless article.user != current_user%>
      <div class="">
      	<%= link_to 'Edit', edit_article_path(article)%>
      	- <%= link_to 'Delete', article, method: :delete, class: 'red' %>
      </div>
    <%end%>
  	<div>
  		<blockquote><%= article.user.email %></blockquote>
  	</div>
  <%end%>
</div>
