<!DOCTYPE html>
<html>
<head>
  <title>Controversial</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<header>
	<nav class = 'white be-red large-padding'>
		<ul class = 'no-list row center-xs middle-xs'>
			<li class = 'col-md'>
				<h2 class = 'no-margin' id = 'logo'>Controversial</h2>
			</li>
			<li class = 'col-md'>
				<%= link_to 'Home', root_path%>
			</li>
			<li class = 'col-md'>
				<%= link_to 'Articles', articles_path%>
			</li>
			<li class = 'col-md'>
				<%= link_to 'Prog', root_path%>
			</li>
			<li class = 'col-md'>
				<%= link_to 'Tech', root_path%>
			</li>
			<%if user_signed_in?%>
				<li class = 'col-md'>
					<%=link_to 'Sign Out', destroy_user_session_path, method: :delete%>
				</li>
			<%else%>
				<li class = 'col-md'>
					<%=link_to 'Log In', new_user_session_path%>
				</li>
			<%end%>
		</ul>
	</nav>
</header>

<p class="notice"><%= notice %></p>
<p class="alert"><%= alert %></p>

<div class = 'body'>
	<%= yield %>
</div>

</body>
</html>
